{% extends 'dashboard/base.html' %}

{% block main_content %}

{% load static %}




<!-- partial:index.partial.html -->
<!--script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script-->

    <script src="{% static "jquery/jquery-3.5.1.min.js"  %}"></script>
    <script src="{% static "dashboard/daterangepicker/moment.min.js"  %}"></script>
    <script src="{% static "dashboard/daterangepicker/daterangepicker.min.js"  %}"></script>
    <link rel="stylesheet" href="{% static 'dashboard/daterangepicker/daterangepicker.css'  %}">

<!--script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" /-->
<p>
<style>
    #mytable,td{
    margin:20px;
    padding-top: 10px;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6"> <!--Date Range Picker-->
            <div class="card text-center">
            <div class="card-header">Date Range</div>
                <div class="card-body">
                        <form>
                        {% csrf_token %}
                            <div class="form-group">
                                <div id="reportrange"  class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                    <span id ='datevalue'></span> <b class="caret"></b>
                                </div>
                            </div>


                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rdbutton" id="r1" value = "Datalake_TA" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        DatalakeTA
                                    </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="rdbutton" id="r2" value = "Datalake">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Datalake
                                    </label>
                            </div>



                            <button id = 'check' type="button" class="btn btn-primary">Submit</button>
                        </form>
                </div>
            </div>
        </div>

        <div class="col-md-6"> <!--ThreatActor-->
            <div class="card text-center">
            <div class="card-header">Threat Actor</div>
                <div class="card-body">
                    <form>
                    {% csrf_token %}
                    <div class="form-group">
                        <input  type="text" class="form-control" id="txtSearch" name="txtSearch" placeholder="Enter ThreatActor">
                    </div>
                    <button type="button" class="btn btn-primary" id = "TCheck">Submit</button>
                    </form>
                </div>
            </div>
        </div>




    </div>
</div>

<div  id='loader' style='display: none; text-align: center;'>
    <img src=' {{ MEDIA_URL }} /media/loader.gif ' width='200px' height='200px' type = 'text/html'>
</div>



<div class="modal  fade bd-example-modal-lg" tabindex="-1" role="dialog" id = "detail_modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id ='title'>Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-justify" style="font-size: small;">


        <div class="card" id='div1'>
            
        </div>

      </div>
    </div>
  </div>
</div>



<script>
    //JS Script for DateTime Picker
    $(function() {
      var start = moment().subtract(29, 'days');
      var end = moment();
      function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);    
}); 



//JS Script to Fetch data within the Range
$('#check').click(function(event){ 
        var daterange1 = document.getElementById("datevalue").innerText;
        var index = $('input[name="rdbutton"]:checked').val();

        console.log(daterange1)
        $.ajax( 
            { 
                type:"POST", 
                url: '{% url "daterange" %}', 
                data: {"daterange1": daterange1,"index": index},
                

            beforeSend: function(){
                // Show image container
                $("#loader").show();
            },    

            success: function( data )
            { 
                var blob=new Blob([data]);
                var link=document.createElement('a');
                link.href=window.URL.createObjectURL(blob);
                outFile = daterange1.concat('.csv');
                link.download=outFile;
                link.click();
          },
          error: function(data) {
            console.log('Failed');
            },
            complete:function(data){
                $("#loader").hide();
            } 
        })
    });




//Script for autocomplete search
       $(document).ready(function(){ 
            $("#txtSearch").autocomplete({
                source: "/ajax_calls/search/",
                dataType: "json",
                minLength: 2,
                open: function(){
                    setTimeout(function () {
                        $('.ui-autocomplete').css('z-index', 99);
                    }, 0);
                    }
              });
         });



//Fetch Description JQuery

$('#TCheck').click(function(event){ 
        var tActor = document.getElementById("txtSearch").value;
        $.ajax( 
            { 
            type:"POST", 
            url: '{% url "tActor" %}', 
            data: {"tActor": tActor}, 

            success: function( data )
            { 
                if(data=='SelecteActor'){alert('Select ThreatActor')}

                else{

               var tbl=$("<table/>").attr("id","mytable");
                $("#div1").append(tbl);
                for(var i=0;i<data.length;i++)
                {
                    var tr="<tr>";
                    var td1="<td>"+data[i]["date"]+"</td>";
                    var td2="<td>"+data[i]["Description"]+"</td></tr>";
                    $("#mytable").append(tr+td1+td2);} 

                $('#detail_modal').modal('show');}

          },
          error: function(data) {
            console.log('Failed');
            } 
        })
    });










  
</script>














{% endblock main_content %}