{% extends 'dashboard/base.html' %}

{% block main_content %}

{% load static %}




<div class="container">
    <div class="row">Update ELK ThreatActor</div>
    <div class="row">
        <div class="col-md-12">
            <form method="post" id="file-upload-form" enctype="multipart/form-data" action="/tpi/" > 
                {% csrf_token %}
                <div class="container-fluid">
                    <div class="input-group">
                        <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file-upload"  accept=".csv">
                        <label class="custom-file-label" for="file-upload">Choose file</label>
                        </div>
                        <div class="input-group-append">
                        <button id ="tpi" class="btn btn-success" type="button" >Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div> 
    </div>









<script src="{% static "jquery/jquery-3.5.1.min.js" %}"></script>
<script>
    $('#tpi').click(function(event){ 
        var file_data = $('#file-upload').get(0).files[0]; // note [0]
        var formData = new FormData();
        formData.append('file_data', file_data);
        var outputFile = "TPI"
        
        $.ajax( 
            { 
                type:"POST", 
                url: '{% url "tactor_res" %}', 
                data: formData,
                processData: false,
                contentType: false,


            success: function( data ) 
            { 
                alert(data)
            
          },
          error: function(data) {
            console.log('Failed');
            } 
        });



    });




//for file name in input box
 $('#file-upload').change(function() {
  var i = $(this).prev('label').clone();
  var file = $('#file-upload')[0].files[0].name;
  $(this).next('.custom-file-label').text(file);
});
</script>




{% endblock main_content %}

